* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --color-dominante: "#E9ECEF";
  --secciones-pagina: "#184E77";
  --boton-primario: "#52B69A";
  --boton-secundario: "#168AAD";
  --boton-terciario: "red";

  --casos-active: "#99D98C";
  --casos-inactivos: "#D9ED92";
  --casos-suspend: "#C9184A";
  --casos-delete: "red";
  --casos-process: "#99D98C";
}
