.box {
  height: 105vh;
  background-color: #e9ecef;
}

.image {
  width: 55vw;
  height: 105vh; 
  margin-left: -17rem;
  background-size: cover;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  max-width: 40rem;
}

.box .buttonContainer .backButton {
  margin-left: 10px;
  color: #52b69a;
}

.box .buttonContainer .nextButton {
  margin-left: 10px;
  background-color: #52b69a;
}

.box .buttonContainer .backButton:hover {
  color: #34a0a4;
}

.box .buttonContainer .nextButton:hover {
  background-color: #34a0a4;
}
