.box {
  height: 105vh;
  background-color: #E9ECEF;
}

.image {
  width: 55vw;
  height: 105vh;
  margin-top: -1rem;
  margin-left: -17rem;
  background-size: cover;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.box .buttonContainer .backButton {
  margin-left: 10px;
  color: #52B69A;
}

.box .buttonContainer .nextButton {
  margin-left: 10px;
  background-color: #52B69A;
}

.box .buttonContainer .backButton:hover {
  color: #34a0a4;
}

.box .buttonContainer .nextButton:hover {
  background-color: #34a0a4;
}